
/*font-family: 'Press Start 2P', ;
font-family: 'Chango', ;*/


body {
    margin:0 auto;
    background-color: black;
    font-family: 'Press Start 2P', serif ;
    color: #fff;
}
button {
    font-size:2vh;
    color: grey;
}
.intro {
    height:100vh;
    text-align: center;
    color: #fff;
    font-family: 'Chango', ;


}

/*--Div containing Game = determines the size, ensures proportion--*/
.center-column{
    width:55vh;
    height:85vh;
    margin:0 auto;
    padding:0;    
}


.game-panel{
    position: relative;
    width:100%;
    padding:0;
    margin:5% auto;
    background-color:#ffad33;   
    border-radius: 3%;
    text-align: center;
}

/*==Top of Game panel = logo and display==*/
.top {
    height:35vh;
}
/*---Space for Logo--*/
.logo-heading{
    height:15vh;
    
  }
#logo {
    height:11vh;
    display: inline-block;
    font-family: 'Chango', serif;
    margin:0;

}
#logo-text {
    font-size: 5vh;
    color: black;
    display: inline-block;
    margin-bottom:5vh;
    font-family: 'Chango', serif;
}
/*=== Game Display=====*/ 
.display {
    position: relative;
    background-color: Black;
    color: green;
    text-align: center;
    height:15vh;
    width: 45vh;
    margin:auto;
}
#strict-display {
    top:.5vh;
    left:.5vh;
    position: absolute;
    font-size: 1.7vh;
    display: inline-block;
    text-align: left;
    margin-top: 0.2vh;
    margin-bottom: .5vh;
    margin-left: 0;
    width:50%;
    
}
#high-last-display{
    top:.5vh;
    right:.5vh;
    position: absolute;
    font-size: 1.7vh;
    margin-top: 0.2vh;
    margin-bottom: .5vh;
    display: inline-block;
    text-align: right;
    width:50%;
}
#score-display {
    top: 5vh;
    margin: 0 auto;
    position: absolute;
    right:0;
    left:0;
    font-size:4vh;
}
#turn-display {
    bottom:.5vh;
    right:.5vh;
    position: absolute;
    font-size: 1.7vh;
    margin-top: 0.5vh;
    display: inline-block;
    text-align: right;
}
#skill-display {
    bottom: .5vh;
    left:.5vh;
    position: absolute;
    font-size: 1.7vh;
    display: inline-block;
    text-align: left;
}







/*==Middle of Game panel = metal panel and game buttons==*/
.middle{
    position: relative;
    height:45vh;
    width:80%;
    background-color: grey;
    border-radius: 5%;
    margin:0 auto;
}
/*==Bottom of Game panel = ON/OFF switch and Skill button==*/
.bottom{
    height:10vh;
}




/*---Strict Button---*/
#strict {
    position: absolute;
    height:4vh;
    width:10vh;
    top:3vh;
    left: 3vh;
    font-size: 2vh;
    border-radius: 10%;
    text-align: center;
    font-weight: bolder;
}
/*---Start Button---*/
#start-reset {
    position: absolute;
    top:2vh;
    left: 15vh;
    width:15vh;
    height:6vh;
    font-size: 3vh;
    border-radius: 30%;
    text-align: center;
    font-weight: bolder;
}
/*---High/Last Button---*/
#high-last {
    position: absolute;
    height:4vh;
    width:9vh;
    top:3vh;
    right: 3vh;
    font-size: 2vh;
    border-radius: 10%;
    text-align: center;
    font-weight: bolder;
}

/*=== Coloured Buttons ====*/
#blue {
    position: absolute;
    background-color: #0040ff88;
    height:15vh;
    width:15vh;
    display: inline-block;
    top:12vh;
    left:6.75vh;
    border-top-left-radius: 30%;
      
}

#yellow {
    position: absolute;
    background-color:#ffff0088;
    height:15vh;
    width:15vh;
    display: inline-block;
    top:12vh;
    right:6.75vh;
    border-top-right-radius: 30%;
    
}

#red {
    position: absolute;
    background-color: #ff1a1a88;
    height:15vh;
    width:15vh;
    display: inline-block;
    bottom:2.5vh;
    left:6.75vh;
    border-bottom-left-radius: 30%;   
}


#green {
    position: absolute;
    background-color:#00990069;
    height:15vh;
    width:15vh;
    display: inline-block;
    bottom:2.5vh;
    right:6.75vh;
    border-bottom-right-radius: 30%;
}



#on-off {
    position: absolute;
    height:4vh;
    width:9vh;
    bottom: 4vh;
    left: 8vh;
    border-radius: 10%;
    text-align: center;
    font-weight: bolder;
    color: black;
}
#skill-button {
    position: absolute;
    height:4vh;
    width:9vh;
    bottom: 4vh;
    right: 8vh;
    border-radius: 10%;
    text-align: center;
    font-weight: bolder;
}


.how-to-link {
    text-align: center;
    font-size: 3vh;
}


/*============HOW TO PLAY ================*/
.touch-image {
    margin: 0 auto;
    text-align: center;   
}

